<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- import bootstrap -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script src="../../js/bootstrap.bundle.min.js"></script>
    
    <script src="../js/Timer.js" defer></script>
    <title>Timer</title>
</head>

<body>
    <h1>Timer Test</h1>
    <div class="btn-group">
        <button id="startBtn">Start</button>
        <button id="pauseBtn">Stop</button>
    </div>
    <input type="number" name="" id="speed" value="1" min="0.25">
    <p id="timeText">00:00</p>
</body>

</html>