<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <!-- import bootstrap -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../css/AddVideo.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

    <title>addvideo</title>
</head>
<body>
    <div class="newVideo col">
        <hr>
        <form>
            <label for="vTitle">Video Title:</label><br>
            <input type="text" id="vTitle" name="vTitle"><br>
            <label for="vLink">Video Link:</label><br>
            <input type="text" id="vLink" name="vLink"><br>
            <input type="submit" id="submit" value="Add">
        </form>
    </div>
</body>
</html>