<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- import bootstrap -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script src="../../js/bootstrap.bundle.min.js"></script>

    
    <link rel="stylesheet" href="../../css/todos.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

    <title>To Do</title>
</head>

<body>
    <div class="container-fluid">
        <div class="header row">
            <div class="col-6">
                <h3>Videos</h3>
            </div>
            <div class="col-6 addnewvideo">
                <a href="addvideo.html" target="_blank">Add New Video</a>
            </div>
        </div>
        <div class="newVideo col">
            <hr>
            <div class="row">
                <div class="nums col-2">
                    <p>01</p>
                </div>
                <div class="col-10">
                    <p>DXCHAMPIONDX LEGENDARY PLAY RANK 4 WARWICK NA</p>
                </div>
                <div class="row hidden">
                    <div class="btn-group">
                        <button class="btn btn-success"></button>
                        <button class="btn btn-danger"></button>
                        <button class="btn btn-dark"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="newVideo col">
            <hr>
            <div class="row">
                <div class="nums col-2">
                    <p>02</p>
                </div>
                <div class="col-10">
                    <p>DXCHAMPIONDX LEGENDARY PLAY RANK 4 WARWICK NA</p>
                </div>
            </div>
        </div>
        <div class="newVideo col">
            <hr>
            <div class="row">
                <div class="nums col-2">
                    <p>03</p>
                </div>
                <div class="col-10">
                    <p>DXCHAMPIONDX LEGENDARY PLAY RANK 4 WARWICK NA</p>
                </div>
            </div>
        </div>
        <a href="../pages/NoteEditor.html" target="_blank"class="button">Write Notes</a>
    </div>
    
</body>

</html>