<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import bootstrap -->
    <!-- import bootstrap -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script src="../../js/bootstrap.bundle.min.js"></script>
    
    <link rel="stylesheet" href="../../css/card.css">

    <title>Flashcards</title>
</head>
<body>
    <h1>Chemistry Topic 1: Stoichiometry</h1>

    <div class="cards_grid">
        <div class="card">
            <div class="question">
                <p>Did you get a haircut?</p>
            </div>
            <div class="answer">
                <p>No, I got them all cut</p>
            </div>
        </div>
        <div class="card">
            <div class="question">
                <p>Why couldn't the bicycle stand up by itself?</p>
            </div>
            <div class="answer">
                <p>"It was two tired.</p>
            </div>
        </div>
        <div class="card">
            <div class="question">
                <p>Did you hear the rumor about butter?</p>
            </div>
            <div class="answer">
                <p>"Well, I'm not going to spread it!</p>
            </div>
        </div>
        <div class="card">
            <div class="question">
                <p>What do you call someone with no body and no nose?</p>
            </div>
            <div class="answer">
                <p>Nobody knows.</p>
            </div>
        </div>
        <div class="card">
            <div class="question">
                <p>I don't trust stairs.</p>
            </div>
            <div class="answer">
                <p>They're always up to something.</p>
            </div>
        </div>
        <div class="card">
            <div class="question">
                <p>Why don't eggs tell jokes?</p>
            </div>
            <div class="answer">
                <p>They'd crack each other up.</p>
            </div>
        </div>
    </div>
</body>
</html>