<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import bootstrap -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../css/chooseNotebook.css">
            
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

        
    <title>Document</title>
</head>
<body>
    <div class="chooseNotebook container-fluid">
        <form action="../pages/NoteEditor.html" method="GET">
            <input type="radio" id="Chemistry" name="Notebook" value="Chemistry">
            <label for="Chemistry">Chemistry</label><br>
            <input type="radio" id="RocketScience" name="Notebook" value="RocketScience">
            <label for="RocketScience">Rocket Science</label><br>
            <input type="radio" id="Architecture" name="Notebook" value="Architecture">
            <label for="Architecture">Architecture</label><br>
            <input type="radio" id="Art" name="Notebook" value="Art">
            <label for="Art">Art</label><br>
            <input type="submit" id="submit" value="Add">
        </form>
    </div>
</body>
</html>