<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import bootstrap -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../css/newNotebook.css">
        
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    
    <title>newNotebook</title>
</head>
<body>
    <div class="newBook container-fluid">
        <form action="../pages/notebooks.html" method="GET">
            <label for="Notebook">Notebook:</label><br>
            <input type="text" id="Notebook" name="Notebook"><br>
            <label for="Image">Image Link:</label><br>
            <input type="text" id="Image" name="Image"><br>
            <input type="submit" id="submit" value="Create">
        </form>
    </div>
</body>
</html>