<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../js/Util.js"></script>
    <!-- import bootstrap -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script src="../../js/jquery-3.2.1.slim.min.js" defer></script>
    <script src="../../js/popper.min.js" defer></script>
    <script src="../../js/bootstrap.min.js" defer></script>


    <script src="../../js/Subject.js"defer></script>

    <link rel="stylesheet" href="../../css/subject.css">

    <title>Document</title>
</head>

<body>
    <h1>Chemistry</h1>
    <div class="line"></div>
    <div class="grid_container">
        <div class="horizontal">
            <div class="note_wrapper">
                <div class="card mb-3"
                    style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div class="row g-0">
                        <div class="col-md-4 cover_img_holder">
                            <img src="https://images.unsplash.com/photo-1603126857599-f6e157fa2fe6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hlbWlzdHJ5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=60"
                                alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Topic 1: Stoichiometry</h5>
                                <p class="card-text">9 cards</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="note_wrapper">
                <div class="card mb-3"
                    style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div class="row g-0">
                        <div class="col-md-4 cover_img_holder">
                            <img src="https://images.unsplash.com/photo-1603126857599-f6e157fa2fe6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hlbWlzdHJ5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=60"
                                alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Molecular formulae</h5>
                                <p class="card-text">9 cards</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vertical">
            <div class="note_wrapper">
                <div class="card mb-3"
                    style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <img class="thumbnail"
                        src="https://images.unsplash.com/photo-1532094349884-543bc11b234d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y2hlbWlzdHJ5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=60">
                    <div class="row g-0">
                        <div class="card-body">
                            <h5 class="card-title">Chemistry equipment</h5>
                            <p class="card-text">12 cards</p>
                            <p class="card-text"><small class="text-muted">Last updated 5 days ago</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="note_wrapper">
                <div class="card mb-3"
                    style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <img class="thumbnail"
                        src="https://images.unsplash.com/photo-1532094349884-543bc11b234d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y2hlbWlzdHJ5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=60">
                    <div class="row g-0">
                        <div class="card-body">
                            <h5 class="card-title">How to: Titration</h5>
                            <p class="card-text">12 cards</p>
                            <p class="card-text"><small class="text-muted">Last updated 5 days ago</small></p>
                        </div>
                    </div>
                </div>
            </div>

            

            <!-- <div class="note_wrapper">
                <div class="card mb-3"
                    style="height: 330px;width: 220px; margin-top: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <img class="thumbnail"
                        src="https://images.unsplash.com/photo-1532094349884-543bc11b234d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y2hlbWlzdHJ5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=60">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Performing titrations</h5>
                                <p class="card-text">12 cards</p>
                                <p class="card-text"><small class="text-muted">Last updated 1/07/2021</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="preview">
            <h4 class="title">Preview</h4> <br>
            <h6 class="subtitle">Topic 1: Stoichiometry</h6> <br>
            <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pellentesque nec quam id
                dignissim. Vestibulum euismod lectus et blandit tempor. <br><br>
                Ut tincidunt commodo molestie. Curabitur eu porta ipsum. Donec iaculis porta metus, quis varius ligula
                laoreet a. In mauris enim, dictum vel mattis sit amet, eleifend ac diam. Nam sodales odio interdum risus
                gravida aliquam. Donec suscipit in justo nec dignissim. <br><br>
                Praesent quis nunc laoreet, luctus eros eu, venenatis justo.</p>
            <p class="eon">end of note</p>
        </div>
    </div>
    <!-- <div class="note_wrapper" style="align-items: flex-start;">
        <div class="line"></div>
        <div>
            <image class="thumbnail"
                src='https://images.unsplash.com/photo-1603126857599-f6e157fa2fe6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hlbWlzdHJ5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=60' />
            style="background-image: url('https://images.unsplash.com/photo-1603126857599-f6e157fa2fe6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hlbWlzdHJ5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=60')"
            <div class="label">
                <small>Topic 1: Stoichiometry</small>
                <br><small>7 cards</small>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img class="thumbnail" src="https://images.unsplash.com/photo-1603126857599-f6e157fa2fe6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hlbWlzdHJ5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=60">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Topic 1: Stoichiometry</h5>
                  <p class="card-text">7 cards</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="note_wrapper" style="align-items: flex-end;">
        <div class="line2"></div>
        <div>
            <div class="label" style='text-align: right;'>
                <small>Performing titrations</small>
                <br><small>12 cards</small>
            </div>
            <image class="thumbnail"
                src='https://images.unsplash.com/photo-1532094349884-543bc11b234d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y2hlbWlzdHJ5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=60'>
        </div>
    </div> -->
</body>

</html>